{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
        <div class="container">
            <div content="row col-12">
               <img src="{{ url_for('static', filename='assets/img/ana.jpeg') }}" class="d-block img-contact" alt="Personal Image" loading="lazy">
               <h1 class="about-name">Ana Carolina Zamora</h1>
            </div>
        </div>

    <main class="my-5">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>I'm a PhD. student in Philosophy at Syracuse University. My current areas of interest are
                        philosophy of mind and ethics.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}