{% extends "base.html" %}

{% from "bootstrap5/form.html" import render_form %}

{% block content %}
  <main class="mb-4">
    <div class="container">
      <div class="row">
        {% with messages = get_flashed_messages()%}
          {% if messages%}
            {% for message in messages%}
              <p>{{message}}</p>
            {%endfor%}
          {%endif%}
        {%endwith%}
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ form.csrf_token }}
          {{ render_form(form, novalidate=True) }}
        </div>
      </div>
    </div>
</main>
{% endblock %}
